.link{
    margin:30px 80px;
}
.link a{
    font-weight: 400;
    color:rgb(5, 70, 192);
}
.section-details{
    display:flex;
    justify-content: center;
    align-items: center;
}
.dashed-line{    
    border-top: 2px dashed red; 
}
.dashed-line i{
    color:red;
    position:relative;
    bottom:10px;
    z-index: 111;
}
.gallery{
    width:30%;
}
.gallery img{
    width:90%;
    border: 1px solid rgb(235, 231, 231);
    margin:10px;
    box-shadow: 0 0 1px 1px rgb(235, 231, 231);
}
.details{
    display:flex;
    flex-direction: column;
    width:30%;
}
.gallery_02{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.gallery_02_img{
    border: 1px solid rgb(235, 231, 231);
}
.info .title p{
    margin-top:5px;
}
.info .price{
    color:red;
    margin: 10px 0px;
}
.promotion button{
    padding: 5px 50px;
    margin-bottom: 5px;
    background-color: rgb(246, 26, 26);
    color:#fff;
    border-radius: 2px;
}
.size button{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border:1px solid rgb(242, 46, 46);
}
.counter{
    margin-top: 10px;
}
.counter button{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border:1px solid rgb(223, 219, 219);
    font-size: x-large;
}
.counter span{
    margin: 0 10px;
}
.table{
    width:30%;
    margin-left: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
} 
th{
    padding: 10px;
}
thead{
    font-size: 18px;
}
.comment-section {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .comment-form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  .comment-form input{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .comment-form input:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  .comments{
    border: 1px solid #ccc;
    padding: 30px;
  }
  .comment {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .btn-group button{
     padding: 5px 10px;
     border-radius: 2px;
     color: #fff;
     background-color: red;
  }
  .btn-group button:hover{
    background-color: #000;
    color:#fff;
    border: 1px solid #e5e5e5;
  }
  .username {
    font-weight: bold;
  }
.wrap{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.recent{
    width:1024px;
    box-shadow: 0 0 2px 2px #e5e5e5;
}
.recent .title{
    display:flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;
    padding-top:10px;
}
.main-product-wrap{
    padding:10px;
}
.btn-order{
    margin-bottom: 50px;
    display:flex;
}
.btn-order button{
    margin-top: 10px;
    padding: 18px 40px;
    background-color: black;
    color:white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}
.add_cart{
    margin-left: 15px;
}
.buy-now{
    display:flex;
    justify-content: center;
}
.btn-order button:hover{
    background-color: #fff;
    color:black;
    border: 1px solid black;
}
@media (max-width:575px){
    .link{
        margin:0;
    }
    .section-details{
        flex-direction: column;
        font-size: small;
        justify-content: flex-start;
        align-items: start;
    }
    .gallery{
        width:100%;
    }
    .info{
        width:300%;
        margin-left: 10px;
    }
    .header-item-right .call{
        display:none;
    }
    .buy-now button{
        padding: 10px 20px;
    }
    table{
        width:300%;
    }
}